@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('/assets/fonts/clash-display/css/clash-display.css');
@import url('/assets/fonts/sofia-pro/css/sofia-pro.css');

.desktop-view--container {
	display: none;
}

/* NAV */
.nav--container {
	position: sticky;
	top: 0;
	width: 100%;
	height: 110px;
	background: #ffffff;
	padding: 30px 24px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	z-index: 100;
}

.nav--container > img {
	height: 53px;
	width: 102px;
}

/* HERO */
.hero--container {
	width: 100%;
	height: 90vh;
	background: orange;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 40px 30px;
	background-image: url('/assets/images/page-new-hero-mobile.png');
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	font-style: normal;
	color: #ffffff;
	position: relative;
	overflow: hidden;
}

.hero--container > h3 {
	font-family: 'SofiaProRegular', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
}

.hero--container > h1 {
	margin-top: 8px;
	font-family: 'ClashDisplay-Medium', sans-serif;
	font-weight: 600;
	font-size: 28px;
	line-height: 122.7%;
	text-align: center;
	text-transform: uppercase;
}

.hero--container > h1 > span {
	display: block;
	margin: 10px 0;
	font-family: 'Merriweather', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.hero--container > .hero-text-underline {
	width: 130px;
}

.hero--container > p {
	margin: 18px auto 0;
	width: 100%;
	max-width: 230px;
	font-family: 'SF Pro Display', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.045em;
}

.hero-register-btn {
	margin-top: 33px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 48px;
	background: #ffffff;
	border-radius: 3px;
	font-family: 'ClashDisplay-Medium', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.045em;
	color: #423971 !important;
	text-decoration: none !important;
}

.hero--floating-img-one,
.hero--floating-img-two,
.hero--floating-img-three,
.hero--floating-img-four {
	position: absolute;
}

.hero--floating-img-one {
	width: 76px;
	object-fit: contain;
	bottom: 188px;
	left: 28px;
}

.hero--floating-img-two {
	width: 175px;
	object-fit: contain;
	bottom: 100px;
	right: 0;
}

.hero--floating-img-three {
	width: 156px;
	object-fit: contain;
	bottom: 0;
	left: 0;
}

.hero--floating-img-four {
	width: 72px;
	object-fit: contain;
	bottom: 25px;
	right: 94px;
}

/* SMFLX'23 DP */
.smflx-dp--container {
	width: 100%;
	height: 240px;
	padding: 21px 12px;
	background: #c82127;
}

.smflx-dp--container > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* time to disrupt */
.time-to-disrupt--container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 40px 24px 0;
	font-style: normal;
}

.time-to-disrupt--content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.time-to-disrupt--content > h2 {
	max-width: 250px;
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: #312a50;
}

.time-to-disrupt--content > h2 > span {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-weight: 600;
}

.time-to-disrupt--content > p {
	margin: 8px 0 0;
	font-family: 'Sofia Pro', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	color: #423971;
}

.time-to-disrupt--content > p > span {
	font-weight: 700;
}

.time-to-disrupt--content > a {
	display: none;
}

/* Carousel Slider */
.time-to-disrupt--carousel-container {
	margin-top: 18px;
	width: 100%;
	height: 365px;
	background: rgb(240, 239, 239);
	position: relative;
	overflow: hidden;
	z-index: -1;
}

.time-to-disrupt--carousel-container > .free-slides {
	display: flex;
	height: 100%;
}
.time-to-disrupt--carousel-container > .free-slides > .slide {
	min-width: 100%;
}
.time-to-disrupt--carousel-container > .free-slides > .slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*  */
/* What is Container */
/*  */
.what-is--container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: -22px;
	z-index: 10;
}

/* what is smflx */
.what-is-smflx--container {
	width: 100%;
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.wake-new-dawn--container {
	margin-top: 40px;
}

.what-is-smflx--bg-color {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 292px;
	background: #ff772b;
	z-index: -1;
	padding: 0 0 3px;
}

.what-is-smflx--bg-img {
	width: 100%;
	height: 100%;
	background-image: url('/assets/images/what-is-smflx-img.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.what-is-smflx--content > h2 {
	width: 100%;
	max-width: 250px;
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.045em;
	color: #ffffff;
	margin: 47px 0 11px;
}

.what-is-smflx--content > h2 > span {
	font-family: 'ClashDisplay-Semibold', sans-serif;
	font-weight: 600;
}

.what-is-smflx--content > img {
	width: 100%;
	object-fit: cover;
}

.what-is-smflx--content > p {
	margin-top: 21px;
	font-family: 'Sofia Pro', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 150%;
	color: #312a50;
}

.what-is-smflx--content > p > span {
	font-weight: 700;
}

.what-is-smflx--content > p > span.orange-text {
	color: #ff772b;
}

.what-is-smflx--content > p > span.red-text {
	color: #c82127;
}

.what-is-smflx--content > ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style-type: disc;
	padding-left: 14px;
	margin: 20px 0 0;
	gap: 18px;
}

.what-is-smflx--content > ul > li {
	font-family: 'Sofia Pro', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 150%;
	color: #312a50;
}

.what-is-smflx--content > ul > li > span {
	font-weight: 700;
}

/* What is smflx --- Date time venue */
.date-time-venue {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date-time-venue > h5,
.date-time-venue > p {
	font-family: 'SofiaProRegular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;
	color: #312a50;
}

.date-time-venue > h5 {
	margin: 30px 0 0;
	color: #c82127;
	font-weight: 700;
}

.date-time-venue > p > span {
	font-weight: 700;
}

.what-is-smflx--btn {
	padding: 11px 24px 0;
}

a.register-btn--red {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	width: 100%;
	/* height: 48px; */
	background: #c82127;
	border-radius: 3px;

	font-family: 'ClashDisplay-Medium', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.045em;
	color: #ffffff;
}

/* the wake of a new dawn */
.wake-new-dawn--container {
	width: 100%;
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.wake-new-dawn--bg-img {
	width: 100%;
	height: 100%;
	background-image: url('/assets/images/wake-dawn-bg-img.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wake-new-dawn--container > h2 {
	width: 100%;
	max-width: 250px;
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.045em;
	color: #ffffff;
	margin: 47px 0 11px;
}

.wake-new-dawn--bg-color {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 292px;
	z-index: -1;
	padding: 0 0 3px;
	background: #96bcff;
}

.wake-new-dawn--mobile {
	width: 100%;
	object-fit: cover;
}

.wake-new-dawn--desktop {
	display: none;
}

.wake-new-dawn--first-content > p,
.wake-new-dawn--second-content > p {
	font-family: 'Sofia Pro', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 150%;
	color: #423971;
	margin: 21px 0 4px;
}

.wake-new-dawn--second-content--container > img {
	height: 303px;
	width: 100%;
	object-fit: cover;
	margin-top: 11px;
}

/* Worship Experience */
.worship-experience--container {
	width: 100%;
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 62px 0 0;
}

.worship-experience--bg-color {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 292px;
	z-index: -1;
	padding: 0 0 3px;
	background: #ff772b;
}

.worship-experience--bg-img {
	width: 100%;
	height: 100%;
	background-image: url('/assets/images/worship-experience-smflx-bg-img.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.worship-experience--container > h2 {
	width: 100%;
	max-width: 320px;
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.045em;
	color: #ffffff;
	margin: 47px 0 11px;
}

.worship-experience--container > h2 > span {
	font-family: 'ClashDisplay-Semibold', sans-serif;
	font-weight: 600;
}

.worship-experience--content {
	margin: 11px 0 0;
}

.worship-experience--content > p {
	font-family: 'Sofia Pro', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 150%;
	color: #423971;
	margin-bottom: 21px;
}

/* Worship experience carousel */
.worship-experience--carousel-container {
	margin-top: 18px;
	width: 100%;
	height: 270px;
	background: transparent;
	position: relative;
	overflow: hidden;
	/* z-index: -1; */
	border-radius: 6px;
}

.worship-experience--carousel-container > .worship-experience-slides {
	display: flex;
	height: 100%;
}
.worship-experience--carousel-container > .worship-experience-slides > .worship-experience-slide {
	min-width: 100%;
}
.worship-experience--carousel-container > .worship-experience-slides > .worship-experience-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*  */
/* Servants of God */
/*  */
.servants-of-God--container {
	margin: 56px 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.servants-of-God--bg-color {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 292px;
	padding: 0 0 3px;
	background: rgb(255, 98, 0);
	z-index: -1;
}

.servants-of-God--bg-img {
	width: 100%;
	height: 100%;
	background-image: url('/assets/images/servants-of-God-bg-img.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.servants-of-God--container__header {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 47px 20px 0;
	position: relative;
}

.servants-of-God--container__header > h2 {
	width: 100%;
	max-width: 255px;
	height: 130px;
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.045em;
	color: #ffffff;
}

.servants-of-God--container__header > h2 > span {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-weight: 600;
}

.servants-of-God--img-group {
	margin: 11px 0 0;
	width: 100%;
	height: 223px;
	background: #312a50;
	display: flex;
	flex-direction: row;
}

.servants-of-God--img-group > img {
	flex: 1;
	object-fit: cover;
	width: 30%;
}

/* Servants of God -- List */
.servants-of-God--list {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 21px 0 0;
}

.servants-of-God--single {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 24px;
	margin: 0 0 40px;
}

.servants-of-God--single > img {
	height: 342px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 20px;
	border-radius: 7px;
}

.pst-Tosin-portrait {
	object-position: top;
}

.servants-of-God--single > .servants-of-God--single-content > h6 {
	font-family: 'Avenir', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	letter-spacing: 0.045em;
	color: #423971;
}

.servants-of-God--single > .servants-of-God--single-content > h4 {
	font-family: 'ClashDisplay-SemiBold';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.045em;
	color: #423971;
}

.servants-of-God--single > .servants-of-God--single-content > h4 > span {
	color: #ff772b;
}

.servants-of-God--single > .servants-of-God--single-content > p {
	font-family: 'Avenir', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 150%;
	color: #423971;
}

.servants-of-God--single > .servants-of-God--single-content > p > span {
	font-weight: 800;
}

.servants-of-God--single > .servants-of-God--single-content > p:not(:last-child) {
	margin: 0 0 20px;
}

.servants-of-God--single > .servants-of-God--single-content > p:nth-of-type(1) {
	margin: 0;
}

.servants-of-God-silhouette--list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 21px 0 21px;
	gap: 10px;
}

.servants-of-God-silhouette--list > h3 {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.045em;
	color: #423971;
	max-width: 300px;
}

.servants-of-God-silhouette-list--images {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 0 24px;
}

.servants-of-God-silhouette-list--images > div.servants-of-God--single-silhouette {
	width: 290px;
	height: 293px;
	background: #d9d9d9;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 19px;
	position: relative;
}

.servants-of-God--single-silhouette > img {
	position: relative;
	width: 100%;
	object-fit: cover;
	-webkit-filter: contrast(0) sepia(100%) hue-rotate(0deg) saturate(0%) brightness(0%);
	filter: contrast(1) sepia(100%) hue-rotate(0deg) saturate(0%) brightness(0%);
	opacity: 1;
}

.servants-of-God--single-silhouette > p {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 82.4977px;
	line-height: 101px;
	letter-spacing: 0.045em;
	color: rgba(255, 255, 255, 0.33);
}

/* Meeting Schedule */
.meeting-schedule--container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 26px 0 40px;
	color: #ffffff;
	background: url('/assets/images/hero-bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.meeting-schedule--container > h3 {
	max-width: 180px;
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.045em;
	margin: 0 auto 21px;
}

.meeting-schedule-full-day {
	padding: 24px 36px 16px;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.meeting-schedule-full-day > h6 {
	font-family: 'ClashDisplay-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.045em;
}

.meeting-schedule-full-day > .meeting-schedule-full-day--detail:not(:last-child) {
	margin: 0 0 18px;
}

.meeting-schedule-full-day--detail {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.meeting-schedule-full-day--detail > p {
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.045em;
}

.meeting-schedule-full-day--detail > span {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.045em;
}

.meeting-schedule--desktop-container {
	display: none;
}

/* Special Feature Hot Seat */
.special-feature-hot-seat {
	width: 100%;
	height: 383px;
	background: url('/assets/images/special-feature-hot-seat.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: #ffffff;
}

.special-feature-hot-seat > h5 {
	font-family: 'ClashDisplay-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}

.special-feature-hot-seat > p {
	font-family: 'ClashDisplay-Medium', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #f47b20;
}

.special-feature-hot-seat > span {
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.045em;
}

/* Meal and Feeding Plan */
.meal-feeding-plan--container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	background-image: url('/assets/images/meal-feeding-plan-bg-img.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.meal-feeding-plan--container > h2 {
	width: 100%;
	max-width: 265px;
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.045em;
	color: #ffffff;
}

.meal-feeding-plan--container > h2 > span {
	font-family: 'ClashDisplay-SemiBold', sans-serif, sans-serif;
	font-weight: 600;
}

.meal-feeding-plan--details-group {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px;
	margin: 28px 0 50px;
	color: #ffffff;
}

.meal-feeding-plan--details-group > h6 {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.045em;
}

.meal-feeding-plan--detail {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.meal-feeding-plan--detail > p {
	font-family: 'Sofia Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
}

.meal-feeding-plan--detail > span {
	font-family: 'ClashDisplay-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 17px;
	text-align: right;
	letter-spacing: 0.045em;
}

/* Venue */
.venue--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
	padding: 25px;
	color: #05052e;
}

.venue--container > h2 {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.045em;
}

.venue--container > p {
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.045em;
	max-width: 300px;
}

.venue--container > img {
	width: 100%;
	height: 261px;
	object-fit: cover;
	border-radius: 4px;
}

/* Accommodation */
.accommodation--container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* gap: 18px; */
	padding: 0 25px;
	color: #05052e;
	margin: 48px 0;
}

.accommodation-content--group-one,
.accommodation-content--group-two {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.accommodation-content--group-one > a {
	display: none;
}
.accommodation-content--group-two > a {
	width: 100%;
	margin-top: 22px;
}

.accommodation-content--group-one > h2 {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.045em;
	margin: 0 auto 22px;
}

.accommodation--container p {
	font-family: 'SofiaProRegular', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	text-align: left;
	letter-spacing: 0.045em;
}

.accommodation-content--group-one > p > span,
.accommodation-content--group-two > p > span {
	font-family: 'SofiaProMedium', sans-serif;
	font-weight: 600;
}

.accommodation-content--group-one > h6 {
	font-family: 'SofiaProMedium', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0.045em;
	margin: 22px 0;
}

.accommodation-content--group-two > p.hostel-breakdown {
	margin: 20px 0 0;
}

.accommodation-content--group-two > p > span.red-text {
	font-family: 'SofiaProMedium', sans-serif;
	font-weight: 500;
	color: #c82127;
}

.accommodation-content--group-two > ul {
	list-style-type: disc;
}

.accommodation-content--group-two > ul.dashed {
	margin: 0;
	padding: 0 7px;
	list-style-type: none;
}
.accommodation-content--group-two > ul.dashed > li {
	text-indent: -5px;
	font-family: 'SofiaProRegular', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.045em;
	margin: 6px 0;
}

.accommodation-content--group-two > ul.dashed > li:before {
	content: '–';
	text-indent: -5px;
	margin-right: 5px;
}

/* Prepare your heart to be blessed */
.prepare-your-heart--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
	padding: 0 25px;
	color: #05052e;
	margin: 48px 0;
}

.prepare-your-heart--container > h2 {
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.045em;
	max-width: 260px;
}

.prepare-your-heart--content-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.prepare-your-heart--content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.prepare-your-heart--content > p {
	font-family: 'Avenir', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
}

.prepare-your-heart--content > p > span {
	font-weight: 600;
}

.prepare-your-heart--content > a {
	display: none;
}
.prepare-your-heart--content-container > a {
	width: 100%;
	max-width: 314px;
	margin: 0 auto;
}

.prepare-your-heart--content-container > img {
	margin: 15px 0;
	width: 100%;
	height: 230px;
	object-fit: cover;
	border-radius: 4px;
	background: #ffffff;
}

/* More than MOBILE VIEW */
@media screen and (min-width: 433px) {
	.desktop-view--container {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 76px 0 0;
		background: url('/assets/images/desktop-bg.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		display: none;
	}

	.desktop-view--container > img {
		width: 192px;
		z-index: 1;
	}

	.desktop-view--container > h1 {
		width: 164px;
		font-family: 'ClashDisplay-SemiBold', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 19px;
		line-height: 90.7%;
		text-align: center;
		letter-spacing: 0.045em;
		color: #ffffff;
		margin: 31px 0;
		z-index: 2;
	}

	.desktop-view--container > h1 > span {
		color: #ffc42b;
	}

	.desktop-view--container > p {
		width: 424px;
		font-family: 'ClashDisplay-SemiBold', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 122.7%;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		z-index: 20;
	}

	.desktop-view--container > span {
		margin: 9px 0 0;
		font-family: 'Sofia Pro', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		color: #ffffff;
		z-index: 2;
	}

	.desktop-view--container > img:last-child {
		/* justify-self: flex-end; */
		width: 290px;
		height: 50vh;
		object-fit: contain;
		position: absolute;
		bottom: 0;
	}
}

@media screen and (min-width: 1024px) {
	/* NAV */
	.nav--container {
		position: absolute;
		top: 0;
		height: 110px;
		padding: 13px 22px;
		justify-content: center;
	}

	.nav--container > img {
		height: 74px;
		width: 143px;
	}

	/* HERO */
	.hero--container {
		height: auto;
		min-height: 100vh;
		/* padding: 220px 30px 258px; */
		background-position: center center;
		color: #ffffff;
		position: relative;
		overflow: hidden;
		background-image: url('/assets/images/page-new-hero.png');
	}

	.hero--container > h3 {
		font-weight: 700;
		font-size: 40px;
		line-height: 40px;
		/* letter-spacing: 0.045em; */
	}

	.hero--container > h1 {
		font-size: 72px;
		max-width: 720px;
	}

	.hero--container > h1 > span {
		font-size: 56px;
	}

	.hero--container > .hero-text-underline {
		width: 400px;
	}

	.hero--container > p {
		margin: 41px auto 0;
		width: 100%;
		max-width: 736px;
		font-family: 'SF Pro Display', sans-serif;
		font-weight: 400;
		font-size: 32px;
		line-height: 115%;
		text-align: center;
		letter-spacing: 0;
	}

	.hero-register-btn {
		margin-top: 44px;
		width: 514px;
		height: 93px;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		color: #05052e !important;
		display: none;
	}

	.hero--floating-img-one {
		width: 193px;
		bottom: 41.5%;
		left: 7%;
	}

	.hero--floating-img-two {
		width: 264px;
		bottom: 12%;
		right: 0;
	}

	.hero--floating-img-three {
		width: 282px;
		bottom: 0;
		left: 7%;
	}

	.hero--floating-img-four {
		width: 200px;
		bottom: -5px;
		right: 34%;
	}

	/* SMFLX'23 DP */
	.smflx-dp--container {
		height: auto;
		padding: 21px 35px;
	}

	/* time to disrupt */
	.time-to-disrupt--container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 132px 141px 132px 96px;
		font-style: normal;
	}

	.time-to-disrupt--content {
		width: 640px;
	}

	.time-to-disrupt--content > h2 {
		max-width: 600px;
		font-size: 48px;
		line-height: 59px;
		color: #312a50;
	}

	.time-to-disrupt--content > h2 > span {
		display: block;
		font-family: 'ClashDisplay-Bold', sans-serif;
		font-weight: 700;
	}

	.time-to-disrupt--content > p {
		margin: 24px 0 0;
		font-size: 24px;
	}

	.time-to-disrupt--content > p > span {
		font-weight: 700;
	}

	.time-to-disrupt--content > a {
		margin-top: 24px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 327px;
		height: 56px;
		background: #c82127;
		border-radius: 3px;

		font-family: 'ClashDisplay-Medium', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.045em;
		color: #ffffff;
	}

	/* Carousel Slider */
	.time-to-disrupt--carousel-container {
		margin-top: 0;
		width: 400px;
		height: 446px;
		background: rgb(240, 239, 239);
		position: relative;
		overflow: hidden;
		z-index: 0;
	}

	.time-to-disrupt--carousel-container > .free-slides {
		display: flex;
		height: 100%;
	}
	.time-to-disrupt--carousel-container > .free-slides > .slide {
		min-width: 100%;
	}
	.time-to-disrupt--carousel-container > .free-slides > .slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/*  */
	/* What is Container */
	/*  */

	.what-is--container {
		margin-top: 0;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.what-is--container > a {
		margin-top: 42px !important;
		width: 514px;
		height: 93px;
	}

	a.register-btn--red {
		margin: 0 auto;
		width: 514px;
		height: 93px;
		font-size: 24px;
		line-height: 30px;
	}

	.what-is-smflx--container {
		width: 100%;
		padding: 0 96px;
		display: flex;
		position: relative;
	}

	.what-is-smflx--content > h2 {
		/* position: absolute; */
		width: 100%;
		max-width: 630px;
		font-family: 'ClashDisplay-Regular', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 59px;
	}

	.what-is-smflx--content > h2 > span {
		font-family: 'ClashDisplay-Semibold', sans-serif;
		font-weight: 600;
	}

	.what-is-smflx--content > img {
		width: 100%;
		height: 466px;
	}
}

@media screen and (min-width: 1100px) {
	/* what is smflx */
	.what-is-smflx--container {
		width: 100%;
		padding: 0 96px;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		position: relative;
	}

	.what-is-smflx--bg-color {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 342px;
		background: #ff772b;
		z-index: -1;
		padding: 0;
	}

	.what-is-smflx--bg-img {
		width: 100%;
		height: 100%;
		background-image: url('/assets/images/what-is-smflx-img.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.what-is-smflx--content > h2 {
		position: absolute;
		margin: 92px 0 125px;
	}

	.what-is-smflx--content > img {
		position: absolute;
		width: 562px;
		height: 466px;
		right: 96px;
		top: 92px;
	}

	.what-is-smflx--content > p:first-of-type {
		margin-top: 380px;
	}

	.what-is-smflx--content > p {
		max-width: 600px;
		margin-top: 21px;
		font-family: 'Sofia Pro', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 17px;
		line-height: 150%;
		color: #312a50;
	}

	.what-is-smflx--content > p > span {
		font-weight: 700;
	}

	.what-is-smflx--content > p > span.orange-text {
		color: #ff772b;
	}

	.what-is-smflx--content > p > span.red-text {
		color: #c82127;
	}

	.what-is-smflx--content > ul {
		max-width: 600px;
		display: flex;
		flex-direction: column;
		list-style-type: disc;
		padding-left: 14px;
		margin: 20px 0 0;
		gap: 18px;
	}

	.what-is-smflx--content > ul > li {
		font-family: 'Sofia Pro', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 17px;
		line-height: 150%;
		color: #312a50;
	}

	.what-is-smflx--content > ul > li > span {
		font-weight: 700;
	}

	/* What is smflx --- Date time venue */
	.date-time-venue {
		max-width: 562px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.date-time-venue > h5,
	.date-time-venue > p {
		font-family: 'SofiaProRegular', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 150%;
		text-align: left;
		color: #312a50;
	}

	.date-time-venue > h5 {
		margin: 24px 0 0;
		color: #c82127;
		font-weight: 500;
		display: inline-block;
	}

	.date-time-venue > p {
		display: inline-block;
	}

	.date-time-venue > p > span {
		font-weight: 600;
	}

	.what-is-smflx--btn {
		padding: 72px 24px 0;
	}

	/* the wake of a new dawn */
	.wake-new-dawn--container {
		padding: 0 96px;
		position: relative;
	}

	.wake-new-dawn--bg-color {
		height: 302px;
		padding: 0;
	}

	.wake-new-dawn--bg-img {
		width: 100%;
		height: 100%;
		background-image: url('/assets/images/wake-dawn-bg-img.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.wake-new-dawn--container > h2 {
		max-width: none;
		font-size: 48px;
		line-height: 59px;
		margin: 106px 0 64px;
	}

	.wake-new-dawn--first-content--container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.wake-new-dawn--mobile {
		display: none;
	}

	.wake-new-dawn--desktop {
		display: block;
		width: 551px;
		height: 667px;
		object-fit: cover;
		border-radius: 4px;
	}

	.wake-new-dawn--first-content {
		width: 646px;
	}

	.wake-new-dawn--first-content > p,
	.wake-new-dawn--second-content > p {
		font-size: 20px;
		line-height: 210%;
	}

	.wake-new-dawn--second-content--container {
		margin: 60px 0 92px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
	}

	.wake-new-dawn--second-content--container > img {
		width: 630px;
		height: 574px;
		margin-top: 0;
	}

	.wake-new-dawn--second-content {
		width: 560px;
	}
	/* Worship Experience */
	.worship-experience--container {
		padding: 0 96px;
		margin: 96px 0 0;
	}

	.worship-experience--bg-color {
		height: 320px;
		padding: 0;
	}

	.worship-experience--container > h2 {
		max-width: 944px;
		font-size: 48px;
		line-height: 59px;
		margin: 71px 0 15px;
	}

	.worship-experience--container > h2 > span {
		font-family: 'ClashDisplay-Bold', sans-serif;
		font-weight: 700;
	}

	.worship-experience--content-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-end;
	}

	.worship-experience--content {
		width: 685px;
		max-width: 685px;
		margin: 11px 0 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 15px;
	}

	.worship-experience--content > p {
		font-size: 20px;
		line-height: 205.5%;
		color: #05052e;
		margin-bottom: 40px;
	}

	.worship-experience--content > a {
		margin: 0;
	}

	/* Worship experience carousel */
	.worship-experience--carousel-container {
		margin-top: 0;
		width: 502px;
		height: 416px;
	}

	/*  */
	/* Servants of God */
	/*  */
	.servants-of-God--container {
		margin: 96px 0 0;
	}

	.servants-of-God--bg-color {
		width: 100%;
		height: 498px;
		padding: 0;
	}

	.servants-of-God--container__header {
		padding: 71px 96px 0;
		position: relative;
	}

	.servants-of-God--container__header > h2 {
		width: 100%;
		max-width: 958px;
		height: auto;
		font-size: 48px;
		line-height: 59px;
		letter-spacing: 0.045em;
		color: #ffffff;
	}

	.servants-of-God--container__header > h2 > span {
		font-family: 'ClashDisplay-Bold', sans-serif;
		font-weight: 700;
	}

	.servants-of-God--img-group {
		margin: 64px 0 0;
		height: 602px;
		background: #e3e2e5;
	}

	.servants-of-God--img-group > img {
		flex: 1;
		object-fit: cover;
		width: 30%;
	}

	/* Servants of God -- List */
	.servants-of-God--list {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 21px 0 0;
	}

	.servants-of-God--single {
		/* width: 100%; */
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 21px 0 0;
		gap: 32px;
		padding: 0 24px;
		margin: 0 auto 40px;
	}

	.servants-of-God--single > img {
		width: 528px;
		height: 557px;
		object-fit: cover;
		margin-bottom: 12px;
		border-radius: 18px;
	}

	.servants-of-God--single > .servants-of-God--single-content {
		max-width: 507px;
	}

	.servants-of-God--single > .servants-of-God--single-content > h6 {
		font-family: 'Avenir', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 19px;
		letter-spacing: 0.045em;
		color: #423971;
	}

	.servants-of-God--single > .servants-of-God--single-content > h4 {
		font-family: 'ClashDisplay-SemiBold';
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 49px;
		letter-spacing: 0.045em;
		color: #423971;
	}

	.servants-of-God--single > .servants-of-God--single-content > h4 > span {
		color: #ff772b;
	}

	.servants-of-God--single > .servants-of-God--single-content > p {
		font-family: 'Avenir', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 150%;
		color: #423971;
	}

	.servants-of-God--single > .servants-of-God--single-content > p > span {
		font-weight: 800;
	}

	.servants-of-God--single > .servants-of-God--single-content > p:not(:last-child) {
		margin: 0 0 20px;
	}

	.servants-of-God--single > .servants-of-God--single-content > p:nth-of-type(1) {
		margin: 0;
	}

	/* Servants of God silhouette list */
	.servants-of-God-silhouette--list {
		margin: 90px 0 65px;
		gap: 40px;
		width: 100%;
	}

	.servants-of-God-silhouette--list > h3 {
		max-width: 851px;
		font-size: 48px;
		line-height: 59px;
		color: #312a50;
	}

	.servants-of-God-silhouette-list--images {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 50px;
		padding: 0 80px;
		margin: 0 auto;
	}

	.servants-of-God-silhouette-list--images > div.servants-of-God--single-silhouette {
		width: 100%;
		max-width: 1067px;
		height: 557px;
		border-radius: 18px;
		background-image: url('/assets/images/silhouette-minister--bg.png');
		/* mix-blend-mode: difference; */
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		filter: hue-rotate(180deg);
	}

	.servants-of-God--single-silhouette > img {
		width: 100%;
		height: 462px;
		object-fit: contain;
	}

	.servants-of-God--single-silhouette > p {
		font-size: 153.807px;
		line-height: 189px;
	}

	/* Meeting schedule */
	.meeting-schedule--container {
		display: none;
	}

	.meeting-schedule--desktop-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url('/assets/images/meeting-schedules-bg-img.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 50px 0 0;
		color: #ffffff;
	}

	.meeting-schedule--desktop-container > h3 {
		width: 422px;
		font-family: 'ClashDisplay-SemiBold', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 48px;
		line-height: 59px;
		text-align: center;
		letter-spacing: 0.045em;
		margin-bottom: 64px;
	}

	.meeting-schedule--desktop-full-day {
		width: 100%;
		display: flex;
		justify-content: space-between;
		background: rgba(255, 255, 255, 0.06);
		border-top: 1px solid #ffffff;
	}

	.meeting-schedule--desktop-full-day > .meeting-date {
		width: 25%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		padding: 60px 0;
	}

	.meeting-date > h6 {
		font-family: 'ClashDisplay-SemiBold', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		letter-spacing: 0.045em;
	}

	.meeting-date > p {
		font-family: 'ClashDisplay-Medium', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.045em;
	}

	.meeting-date > span {
		display: block;
		width: 128px;
		height: 3px;
		background: #ffffff;
	}

	.meeting-schedule--desktop-full-day--detail-group {
		width: 75%;
		padding: 60px 0;
		padding-left: 56px;
		padding-right: 96px;
		background: rgba(0, 0, 0, 0.1);
	}

	.meeting-schedule--desktop-full-day--detail-group > p {
		margin-top: 35px;
		font-family: 'ClashDisplay-SemiBold', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.045em;
		color: #ffffff;
	}

	.meeting-schedule--desktop-full-day--detail {
		display: flex;
		justify-content: space-between;
	}

	.meeting-schedule--desktop-detail {
		max-width: 338px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.meeting-schedule--desktop-detail > span {
		font-family: 'ClashDisplay-Medium', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.045em;
	}

	.meeting-schedule--desktop-detail > p {
		font-family: 'ClashDisplay-Regular', sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.045em;
	}

	.meeting-schedule--desktop-detail.sessions > p {
		font-family: 'ClashDisplay-Medium', sans-serif;
		font-weight: 500;
	}

	.meeting-schedule--desktop-detail.time > p {
		font-family: 'ClashDisplay-SemiBold', sans-serif;
		font-weight: 600;
	}

	/* Special Feature Hot Seat */
	.special-feature-hot-seat {
		height: 670px;
		gap: 18px;
	}

	.special-feature-hot-seat > h5 {
		font-size: 56px;
		line-height: 69px;
	}

	.special-feature-hot-seat > p {
		font-size: 40px;
		line-height: 49px;
	}

	.special-feature-hot-seat > span {
		font-size: 32px;
		line-height: 39px;
	}

	/* Meal and Feeding Plan */
	.meal-feeding-plan--container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 92px 96px;
	}

	.meal-feeding-plan--container > h2 {
		width: 100%;
		max-width: 567px;
		font-size: 40px;
		line-height: 49px;
	}

	.meal-feeding-plan--container > h2 > span {
		font-family: 'ClashDisplay-Bold', sans-serif;
		font-weight: 700;
	}

	.meal-feeding-plan--details-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 42px;
		max-width: 549px;
	}

	.meal-feeding-plan--details-container > a {
		margin: 0;
	}

	.meal-feeding-plan--details-group {
		width: 100%;
		gap: 0;
		margin: 0;
		color: #ffffff;
	}

	.meal-feeding-plan--details-group > h6 {
		font-size: 32px;
		line-height: 39px;
		margin-bottom: 32px;
	}

	.meal-feeding-plan--detail {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.meal-feeding-plan--detail > p {
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 37px;
	}

	.meal-feeding-plan--detail > span {
		font-size: 26px;
		line-height: 26px;
	}

	/* Venue */
	.venue--container {
		display: none;
	}

	/* Accommodation */
	.accommodation--container {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 84px 96px;
		color: #ffffff;
		margin: 0;
		background-image: url('/assets/images/accommodation-bg-img.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.accommodation-content--group-one {
		width: 50%;
		max-width: 607px;
		align-items: flex-start;
	}

	.accommodation-content--group-two {
		align-items: flex-start;
		width: 50%;
		max-width: 475px;
	}

	.accommodation-content--group-one > a {
		display: flex;
		margin: 0;
	}

	.accommodation-content--group-two > a {
		display: none;
	}

	.accommodation-content--group-one > h2 {
		font-family: 'ClashDisplay-SemiBold', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 49px;
		text-align: left;
		letter-spacing: 0.045em;
		margin: 0 0 25px;
	}

	.accommodation--container p {
		font-size: 20px;
		line-height: 150%;
	}

	.accommodation-content--group-one > p > span,
	.accommodation-content--group-two > p > span {
		font-family: 'SofiaProMedium', sans-serif;
		font-weight: 600;
	}

	.accommodation-content--group-one > h6 {
		font-family: 'SofiaProMedium', sans-serif;
		font-weight: 700;
		font-size: 25px;
		line-height: 150%;
		color: #ffbd14;
		margin: 40px 0;
	}

	.accommodation-content--group-two > p.hostel-breakdown {
		margin: 60px 0 0;
	}

	.accommodation-content--group-two > p > span.red-text {
		font-family: 'SofiaProMedium', sans-serif;
		font-weight: 500;
		color: #ffffff;
	}

	.accommodation-content--group-two > ul {
		width: 100%;
		height: 144px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.accommodation-content--group-two > ul:nth-of-type(2) {
		height: 110px;
	}

	.accommodation-content--group-two > ul.dashed {
		padding: 0 10px;
		list-style-type: none;
		margin: 28px 0 0;
	}
	.accommodation-content--group-two > ul.dashed > li {
		font-size: 20px;
		line-height: 150%;
		margin: 2px 0;
		width: 50%;
	}

	/* Prepare your heart to be blessed */
	.prepare-your-heart--container {
		gap: 56px;
		padding: 0 96px;
		color: #05052e;
		margin: 80px 0;
	}

	.prepare-your-heart--container > h2 {
		font-size: 48px;
		line-height: 59px;
		max-width: 641px;
	}

	.prepare-your-heart--content-container {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.prepare-your-heart--content {
		width: 634px;
		max-width: 634px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.prepare-your-heart--content > p {
		font-size: 24px;
		line-height: 33px;
	}

	.prepare-your-heart--content > a {
		display: flex;
		margin: 36px 0 0;
	}

	.prepare-your-heart--content-container > a {
		display: none;
	}

	.prepare-your-heart--content-container > img {
		margin: 0;
		width: 556px;
		height: 499px;
		border-radius: 2px;
	}
}
