/* Empty state */
.data-display--empty-state {
	height: 100vh;
	padding: 83px 96px;
	background: #e7fffa;
}

.data-display--empty-state > h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 49px;
	color: #312a50;
}

.data-display--empty-state--content {
	margin: 180px auto 0;
	max-width: 640px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.data-display--empty-state--content > img {
	max-width: 255px;
}

.data-display--empty-state--content > h5 {
	max-width: 358px;
	color: #05052e;
	text-align: center;
	font-family: 'ClashDisplay-Medium', sans-serif;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 150%;
	margin-bottom: 10px;
}

.data-display--empty-state--content > p {
	width: 100%;
	color: #312a50;
	text-align: center;
	font-family: 'SofiaProRegular', sans-serif;
	font-size: 2rem;
	font-weight: 300;
	line-height: 150%;
}

@media (max-width: 786px) {
	.data-display--empty-state {
		height: 100vh;
		padding: 30px 30px;
		background: #e7fffa;
	}

	.data-display--empty-state > h3 {
		font-size: 24px;
		line-height: 30px;
	}

	.data-display--empty-state--content {
		margin: 100px auto 0;
	}

	.data-display--empty-state--content > img {
		max-width: 220px;
	}

	.data-display--empty-state--content > h5 {
		font-size: 2rem;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.data-display--empty-state--content > p {
		font-size: 1.7rem;
	}
}

/* PHOTO GALLERY */
.photo-gallery-hero-container {
	width: 100%;
	height: 610px;
	position: relative;
	background-image: url('/assets/images/gallery/gallery-hero-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 22px;
	font-style: normal;
	color: #ffffff;
}

.photo-gallery-hero-container > h4 {
	font-family: 'ClashDisplay-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
}

.photo-gallery-hero-container > p {
	font-family: 'SofiaProRegular', sans-serif;
	max-width: 640px;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
}

/* Photo data exists */
.photo-gallery--header {
	background: #e7fff1;
	padding: 10px;
}

.photo-gallery--header > h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 49px;
	color: #312a50;
}

.photo-gallery--list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	flex-wrap: wrap;
	margin-top: 40px;
	padding: 50px 50px;
}

.photo-gallery--list img {
	height: 353px;
	width: 368px;
	border-radius: 0px;
}

.view-more-button-container {
	width: 100%;
	max-width: 325px;
	border-radius: 3px;
	padding: 20px;
	background: #ffffff;
	border: 1px solid rgba(49, 42, 80, 0.24);
	border-radius: 3px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #312a50;
	font-size: 1.6rem;
	font-family: 'ClashDisplay-Medium', sans-serif;
	letter-spacing: 0.072rem;
}

.search-container > select {
	width: 439px;
	height: 55px;
	height: 55px;
	width: 211px;
	border-radius: 4px;
	background: #ffffff;
	border: 1px solid #e7e7e7;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */
	color: #423971;
}

@media (max-width: 768px) {
	.photo-gallery-hero-container {
		width: 100%;
		height: 610px;
		position: relative;
		background-image: url('/assets/images/gallery/gallery-hero-bg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 22px;
		font-style: normal;
		color: #ffffff;
	}

	.photo-gallery-hero-container > h4 {
		font-family: 'ClashDisplay-Bold', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 59px;
		text-align: center;
	}

	.photo-gallery-hero-container > p {
		font-family: 'SofiaProRegular', sans-serif;
		max-width: 640px;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
	}

	/* Photo data exists */
	.photo-gallery--header {
		background: #e7fff1;
		padding: 10px;
	}

	.photo-gallery--header > h3 {
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 49px;
		color: #312a50;
	}

	.photo-gallery--list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3rem;
		flex-wrap: wrap;
		margin-top: 40px;
		padding: 25px 25px;
	}

	.photo-gallery--list img {
		height: 353px;
		width: 100%;
		border-radius: 0px;
		object-fit: cover;
	}
}
