/* PHOTO GALLERY */
.audio-messages-hero-container {
	width: 100%;
	height: 686px;
	position: relative;
	background-image: url('/assets/images/messages/audio-messages-hero-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 22px;
	font-style: normal;
	color: #ffffff;
}

.audio-messages-hero-container > h4 {
	font-size: 48px;
	line-height: 59px;
	text-align: center;
}

.audio-messages-hero-container > h4:first-of-type {
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.audio-messages-hero-container > h4:nth-of-type(2) {
	margin-top: -20px;
	font-family: 'ClashDisplay-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.audio-messages-hero-container > h4:nth-of-type(2) > span {
	color: #f47b20;
}

.audio-messages-hero-container > p {
	font-family: 'SofiaProRegular', sans-serif;
	max-width: 640px;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
}


.audio-messages-body{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 30px;
	padding: 2em;

	
}
 .messages-gallery-container .messages-gallery-container-col{
    width: 48.5%;
    /* height: 21.85rem; */
    height: auto;
    background-color: white;
    border-radius: 11px;
    overflow: hidden;
	
 }
 .messages-gallery-container-col .img-col{
    width: 100%;
    height: 60vh;
    height: auto;
	

 }
  .messages-gallery-container-col img{
    width: 100%;
    height: 100%;
	border-radius: 10px 10px 0 0px;
    /* object-fit: cover; */
    /* aspect-ratio: 4/2; */
    
    
 }
 .messages-gallery-container-col .mgc-text-col{
    width:100%;
    height: 40vh;
    padding: 20.5px 53px 65px 53px;
	background-color:#FFFFFF;
	/* border-radius:0 10px; */
	margin-top: -5px;
	border-radius: 0px 0px 10px 10px;
}
.mgc-text-col h3{
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
}
.mgc-text-col .mgc-title{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C82127;
}
.mgc-text-col .program{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #423971;
}
.mgc-text-col .mgc-btn1{
    background-color: #C82127;
    border: 1px solid rgba(49, 42, 80, 1);
    color: white;
    width: 172px;
    height: 56px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}
.mgc-text-col .mgc-btn2{
    background-color:linear-gradient(0deg, #FFFFFF, #FFFFFF);
    ;
    border: 1px solid rgba(49, 42, 80, 1);
    color: #312A50;
    width: 205px;
    height: 56px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}
.mgc-text-col .mgc-btn1:hover{
    color: #312A50;
    background-color: rgba(49, 42, 80, 0.24);
}
.mgc-text-col .mgc-btn2:hover{
    color: #312A50;
    background-color: rgba(49, 42, 80, 0.24);
}
.mgc-text-col .btn-col{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 19px;
}

@media (max-width: 43.75rem){
.messages-gallery-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 26px;
	/* margin: 2rem 0; */
}
 .messages-gallery-container .messages-gallery-container-col{
	width:50%;
	/* height: 23.67em; */
	height: auto;
	background-color: white;
	border-radius: 11px;
	overflow: hidden;
 }
  .img-col{
	width: 100%;
	height: 218.89px;
	height: auto;
 }
 .messages-gallery-container-col img{
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
	/* aspect-ratio: 4/2; */
	
	
 }
 .messages-gallery-container-col .mgc-text-col{
	width:100%;
	height: 50vh;
	padding: 2rem;
	margin-top: -4px;
	/* padding: 20.5px 53px 65px 53px; */
}
.mgc-text-col h3{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}
.mgc-text-col .mgc-title{
	font-family: 'Sofia Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #C82127;
}
.mgc-text-col .program{
	font-family: 'Sofia Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #423971;
}
.mgc-text-col .mgc-btn1{
	background-color: #C82127;
	border: 1px solid rgba(49, 42, 80, 1);
	color: white;
	width: 93px;
	height: 35px;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.5s;
}
.mgc-text-col .mgc-btn2{
	background:linear-gradient(0deg, #FFFFFF, #FFFFFF);
	border: 1px solid rgba(49, 42, 80, 1);
	color: #312A50;
	;
	width: 157px;
	height: 35px;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.5s;
}
.mgc-text-col .mgc-btn1:hover{
	background-color: transparent;
	color: black;
}
.mgc-text-col .mgc-btn2:hover{
	background-color: transparent;
	color: black;
}
.mgc-text-col .btn-col{
	width: 100%;
	display: flex;
	gap: 10px;
	margin-top: 19px;
}
}
@media (max-width:768px) {
	.audio-messages-body{
	width: 100%;
	display: block;
}
  .messages-gallery-container-col{
	width: 100%;
	height: auto;
	background-color: white;
	border-radius: 11px;
	overflow: hidden;
 }
 .messages-gallery-container-col .img-col{
	width: 100%;
	height: auto;
 }
  .messages-gallery-container-col img{
	width: 100%;
	height: 100%;		
 }
  .mgc-text-col{
	width: 100%;
	height: auto;
	padding: 2rem;
	margin: 0;
}
.mgc-text-col h3{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}
.mgc-text-col .mgc-title{
	font-family: 'Sofia Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #C82127;
}
.mgc-text-col .program{
	font-family: 'Sofia Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #423971;
}
.mgc-text-col .mgc-btn1{
	background-color: #C82127;
	border: 1px solid rgba(49, 42, 80, 1);
	color: white;
	width: 93px;
	height: 39px;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.5s;
}
.mgc-text-col .mgc-btn2{
	background:linear-gradient(0deg, #FFFFFF, #FFFFFF);
	border: 1px solid rgba(49, 42, 80, 1);
	color: #312A50;
	width: 170px;
	height: 39px;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.5s;
}
.mgc-text-col .mgc-btn1:hover{
	background-color: transparent;
	color: black;
}
.mgc-text-col .mgc-btn2:hover{
	background-color: transparent;
	color: black;
}
.mgc-text-col .btn-col{
	width: 100%;
	display: flex;
	gap: 10px;
	margin-top: 19px;
}
}