/* PHOTO GALLERY */
.audio-messages-hero-container {
	width: 100%;
	height: 686px;
	position: relative;
	background-image: url('/assets/images/messages/audio-messages-hero-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 22px;
	font-style: normal;
	color: #ffffff;
}

.audio-messages-hero-container > h4 {
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-style: normal;
	font-weight: 400;
	max-width: 737px;
}

.audio-messages-hero-container > h4 > span {
	font-family: 'ClashDisplay-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.audio-messages-hero-container > h4 > span > span {
	color: #f47b20;
}

.audio-messages-hero-container > p {
	font-family: 'SofiaProRegular', sans-serif;
	max-width: 640px;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
}

.audio-messages-list-container {
	padding: 83px 96px;
	background: #e7fffa;
}

.audio-messages-list-container > h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 49px;
	color: #312a50;
	margin-bottom: 53px;
}

.audio-messages-body {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	gap: 30px;
}

.audio-message-component {
	width: 598px;
	height: 700px;
	border-radius: 11px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #ffffff;
}

.audio-message-component img {
	width: 100%;
	height: 404px;
	object-fit: cover;
}

.audio-message--content {
	flex: 1 0 100%;
	padding: 4.1rem 5.3rem;
}

.audio-message--details {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	max-width: 368px;
}

.audio-message--details > h5 {
	color: #312a50;
	font-size: 2.4rem;
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-weight: 600;
}

.audio-message--details > p {
	color: #c82127;
	font-size: 1.6rem;
	font-family: 'SofiaProRegular', sans-serif;
	line-height: 150%;
}

.audio-message--details > p > .audio-message-date {
	color: #f47b20;
}

.audio-message--details > h6 {
	color: #423971;
	font-size: 1.6rem;
	font-family: 'SofiaProRegular', sans-serif;
	font-weight: 700;
	line-height: 150%;
}

.audio-message--btns {
	margin-top: 19px;
	display: flex;
	gap: 10px;
}

.audio-message--play-btn {
	display: flex;
	width: 17rem;
	height: 5.6rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 3px;
	background-color: #c82127;
	color: #fff !important;
	text-decoration: none;
	text-align: center;
	font-size: 1.6rem;
	font-family: 'ClashDisplay-Regular', sans-serif;
	letter-spacing: 0.072rem;
	transition: background-color 0.3s ease-in-out;
}

.audio-message--play-btn:hover {
	background-color: #951317;
}

.audio-message--download-btn {
	display: flex;
	width: 22.5rem;
	height: 5.6rem;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	border: 1px solid rgba(49, 42, 80, 0.24);
	background-color: #fff;
	color: #312a50;
	text-align: center;
	font-size: 1.6rem;
	font-family: 'ClashDisplay-Regular', sans-serif;
	letter-spacing: 0.072rem;
	transition: background-color 0.3s ease-in-out;
}

.audio-message--download-btn:hover {
	background-color: #eee;
}

/* Single message */
.messages-single-wrapper {
	min-height: 100vh;
	background-image: url('/assets/images/messages/audio-messages-single-hero-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 56px 0 0;
}

.messages-single-container {
	height: 400px;
	width: 1018px;
}

.messages-single-container > a.back-to-messages {
	display: flex;
	width: 22.5rem;
	height: 5.6rem;
	padding: 2rem;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 3px;
	border: 1px solid #fff;
	background: #fff;
	color: #312a50;
	text-align: center;
	font-size: 1.6rem;
	font-family: 'ClashDisplay-Regular', sans-serif;
	letter-spacing: 0.072rem;
}

.messages-single--content-wrapper {
	margin-top: 40px;
	width: 100%;
	height: 57rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.messages-single--content {
	width: 100%;
	height: 13rem;
	padding: 2rem 5rem;
	background: rgba(18, 18, 30, 0.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.messages-single--details {
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.messages-single--details > h5 {
	font-size: 1.8rem;
	font-family: 'ClashDisplay-SemiBold', sans-serif;
	font-weight: 600;
	max-width: 450px;
}

.messages-single--details > p {
	color: rgba(255, 255, 255, 0.51);
	font-size: 1.6rem;
	font-family: 'SofiaProRegular', sans-serif;
	line-height: 150%;
}

.messages-single--details > p > span {
	color: #f47b20;
}

.messages-single--details > h6 {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'SofiaProRegular', sans-serif;
	font-weight: 700;
	line-height: 150%;
}

.messages-single--btns {
	display: flex;
	gap: 1rem;
}

.messages-single--btns > button:first-of-type {
	display: flex;
	width: 12rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	border-radius: 3px;
	background: #fff;
	border: 1px solid rgba(255, 255, 255, 1);
	color: #000;
	font-size: 1.1rem;
	line-height: 130.4%;
}

.messages-single--btns > button:last-of-type {
	display: flex;
	width: 12rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	font-size: 1.1rem;
	line-height: 130.4%;
}

@media (max-width: 768px) {
	.audio-messages-hero-container {
		width: 100%;
		height: 431px;
		justify-content: flex-start;
		padding: 75px 0 0;
		gap: 15px;
	}

	.audio-messages-hero-container > h4 {
		font-size: 2.4rem;
		line-height: 150%;
		max-width: 33rem;
		text-align: center;
	}

	.audio-messages-hero-container > p {
		max-width: 325px;
		font-size: 14px;
	}

	.audio-messages-list-container {
		padding: 34px 30px;
		background: #e7fffa;
	}

	.audio-messages-body {
		width: 100%;
		gap: 30px;
	}

	.audio-message-component {
		width: 100%;
		height: fit-content;
		border-radius: 6px;
	}

	.audio-message-component img {
		width: 100%;
		height: 220px;
		object-fit: cover;
		object-position: top;
	}

	.audio-message--content {
		padding: 2.2rem 2.8rem;
	}

	.audio-message--details {
		max-width: 320px;
	}

	.audio-message--details > h5 {
		font-size: 1.7rem;
	}

	.audio-message--details > p {
		font-size: 1.2rem;
	}

	.audio-message--details > h6 {
		font-size: 1rem;
	}

	.audio-message--btns {
		margin-top: 10px;
		gap: 5px;
	}

	.audio-message--play-btn {
		display: flex;
		width: 9rem;
		height: 4rem;
		gap: 1rem;
		border-radius: 1px;
		font-size: 1.2rem;
	}

	.audio-message--download-btn {
		display: flex;
		width: 15rem;
		height: 4rem;
		justify-content: center;
		align-items: center;
		border-radius: 1px;
		font-size: 1.2rem;
		letter-spacing: 0.054rem;
	}

	/* Single message */
	.messages-single-wrapper {
		min-height: 500px;
		padding: 25px;
	}

	.messages-single-container {
		height: 400px;
		width: 100%;
	}

	.messages-single-container > a.back-to-messages {
		display: none;
	}

	.messages-single--content-wrapper {
		margin: 0;
		width: 100%;
		height: 36rem;
	}

	.messages-single--content {
		width: 100%;
		height: 14rem;
		padding: 2rem 1.8rem;
		flex-direction: column;
		align-items: flex-start;
	}

	.messages-single--details {
		gap: 0.4rem;
	}

	.messages-single--details > h5 {
		font-size: 1.4rem;
		max-width: 275px;
	}

	.messages-single--details > p {
		font-size: 1.2rem;
	}

	.messages-single--details > h6 {
		display: none;
	}

	.messages-single--btns {
		gap: 0.8rem;
	}
}

#audio-messages--empty-state,
#audio-messages-list-container,
#messages-full-container,
#messages-single-container,
#messages-footer {
	display: none;
}

audio::-webkit-media-controls-panel {
	background-color: #77bbfa;
}
